body{
  background: bottom 40vh right 50vw url('images/bg-pattern-top-desktop.svg') no-repeat,
              top 60vh left 60vw url('images/bg-pattern-bottom-desktop.svg') ;
  background-attachment: fixed;
  font-family:"Spartan";
}

/* top-container */

#top-container{
  padding:10%;
}

h1{
  color:hsl(300, 43%, 22%);
  font-weight: 700;
  font-size: 3.5rem;
  line-height: 0.9;
}

.top-container-info{
  color:hsl(303, 10%, 53%);
  font-weight:700;
  padding-top:1%;
  padding-left:1%;
  font-size:0.8rem;
}

.top-container-rating{
  padding-left: 8%;
}

.top-container-rating-row{
  background-color: hsl(300, 24%, 96%);
  padding: 2% 8% 2% 5%;
  border-radius: 5%;
}

.review-2{
  position:relative;
  top:8%;
  left:8%;
}

.review-3{
  position:relative;
  top:16%;
  left:16%;
}

.top-conatiner-rating-about{
  color:hsl(300, 43%, 22%);
  font-weight: 700;
  margin-left:-30%;
  font-family: 'Spartan-Bold 700', sans-serif;
  font-size:0.8rem;
}

/* bottom-container */

#bottom-container{
  padding:10%;
  margin-top:-14%;
}

.bottom-container-feed-section{
  background-color: hsl(300, 43%, 22%);
  padding: 2% 5%;
  border-radius: 5%;
}

.colton-feed{
position: relative;
bottom:50px;
right:25px;
}

.irene-feed{
position: relative;
bottom:30px;
}

.anne-feed{
position: relative;
left:25px;
}

.image{
  border-radius: 100%;
  width: 2.5rem;
}

.name-section{
position: relative;
left:65px;
bottom: 35px;
}

.bottom-container-name{
  color:hsl(0, 0%, 100%);
  font-size: 0.8rem;
  font-weight: 700;
}

.bottom-container-below-name{
  color:hsl(333, 80%, 67%);
  font-size: 0.8rem;
  font-weight: 500;
  position: relative;
  bottom:15px;
}

.bottom-container-about{
    color:hsl(0, 0%, 100%);
    font-size: 0.9rem;
    line-height: 1.5;
    font-weight: 500;
    position: relative;
    bottom: 30px;
    margin: auto -12%;
}

/* media-query*/

@media screen and (max-width: 1028px) {

  #top-container{
    text-align: center;
  }

  .top-container-rating-row{
    position: static;
    margin-bottom: 5%;
  }

  .bottom-container-feed-section{
    position: static;
    margin-bottom: 5%;
  }

  .bottom-container-about{
    margin: auto;
  }

}

/* attribution */

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
